<div class="content h-100">
  <div class="top row h-50 align-items-center">
    <div class="col-12 d-flex justify-content-center">
      <div class="wtf-font text-center">WTF! Should we...</div>
    </div>
  </div>
  <div class="bottom row h-50">
    <div id="eat" class="col-12 option text-center eat eat-bk no-padding" (click)="choose('food')">
      <div class="eat h-100">
        <span *ngIf="!showFood">EAT</span>
        <div *ngIf="showFood" class="h-100">
          <p class="selection-text">{{selection}}</p>
          <p class="reset-text">(click again to reset)</p>
        </div>
      </div>
    </div>
    <div id="watch" class="col-12 option text-center watch watch-bk no-padding" (click)="choose('watch')">
      <div class="watch h-100">
        <span *ngIf="!showWatch">WATCH</span>
        <div *ngIf="showWatch" class="h-100">
          <p class="selection-text">{{selection}}</p>
          <p class="reset-text">(click again to reset)</p>
        </div>
      </div>
    </div>
    <div id="do" class="col-12 option text-center do do-bk no-padding" (click)="choose('do')">
      <div class="do h-100">
        <span *ngIf="!showDo">DO</span>
        <div *ngIf="showDo" class="h-100">
          <p class="selection-text">{{selection}}</p>
          <p class="reset-text">(click again to reset)</p>
        </div>
      </div>
    </div>
  </div>
</div>